# Jupyter Notebooks
**Jupyter** notebooks are commonly used to combine Markdown and Python into a single file. For example, this file is a notebook file! Imagine a blog post where you can talk about your thought process, show your code, and also let readers run the code.

The great things about cells is that you can run specific sections of code at a time. You can also quickly see the return values of each cell without running the entire file.

In [16]:
# Try running this cell!
print("Hello, World")

Hello, World

# Pandas

1. What happens when you run the code below? Make sure you change the path to point to where `penguins.csv` is stored on your own computer.

In [17]:
# We're going to work with a new library called pandas
import pandas as pd

penguins = pd.read_csv("../../Datasets/penguins.csv")
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
4,Adelie,Torgersen,39.3,20.6,190.0,3650.0,male,2007
...,...,...,...,...,...,...,...,...
337,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
338,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
339,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
340,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
341,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

2. What happens when you run the code below? Add a cell block to access the column for species.

In [18]:
penguins["bill_length_mm"]

0      39.1
1      39.5
2      40.3
3      36.7
4      39.3
       ...
337    55.8
338    43.5
339    49.6
340    50.8
341    50.2
Name: bill_length_mm, Length: 342, dtype: float64

3. What happens when you run the code below? Add a cell block to list all Adelie penguins.

In [19]:
penguins[(penguins["species"] == "Gentoo") | (penguins["species"] == "Adelie")][["species","flipper_length_mm"]]

    species  flipper_length_mm
0    Adelie              181.0
1    Adelie              186.0
2    Adelie              195.0
3    Adelie              193.0
4    Adelie              190.0
..      ...                ...
269  Gentoo              214.0
270  Gentoo              215.0
271  Gentoo              222.0
272  Gentoo              212.0
273  Gentoo              213.0

[274 rows x 2 columns]

You have been working with the **Dataframe** class that is provided by the `pandas` module! As you can see, Dataframes allow you to quickly store and access tabular information.

4. Add a cell block that _describes_ the flipper length of all penguins.

In [22]:
penguins["bill_length_mm"].describe()
penguins.bill_length_mm

0      39.1
1      39.5
2      40.3
3      36.7
4      39.3
       ...
337    55.8
338    43.5
339    49.6
340    50.8
341    50.2
Name: bill_length_mm, Length: 342, dtype: float64