In [2]:
import pandas as pd
penguins = pd.read_csv("../../datasets/penguins.csv")

In [8]:
penguins.groupby(['island', 'species']).mean()

                     bill_length_mm  bill_depth_mm  flipper_length_mm  \
island    species
Biscoe    Adelie          38.975000      18.370455         188.795455
          Gentoo          47.504878      14.982114         217.186992
Dream     Adelie          38.501786      18.251786         189.732143
          Chinstrap       48.833824      18.420588         195.823529
Torgersen Adelie          38.950980      18.429412         191.196078

                     body_mass_g         year
island    species
Biscoe    Adelie     3709.659091  2008.136364
          Gentoo     5076.016260  2008.073171
Dream     Adelie     3688.392857  2008.000000
          Chinstrap  3733.088235  2007.970588
Torgersen Adelie     3706.372549  2007.941176

# Visualization Sketches
Create 3 different visualizations of the above dataset, with the caveat that you CANNOT create a scatterplot or use bars as your marks. :)

For each of your 3 visualizations, answer the following questions:
1. Which variables are you visualizing?
2. What are your marks and channels?
3. What is the goal of your visualization?
4. Do you think your visualization achieves that goal effectively? Elaborate.