In [2]:
import pandas as pd
lib = pd.read_csv("/Users/lee/Dropbox/Classroom/Art of Data/Datasets/librarians.csv")
lib.drop(columns=["emp_prse", "jobs_1000"])

    state  ... location_quotient
0      PR  ...              3.62
1      PR  ...              3.34
2      PR  ...              2.60
3      PR  ...              2.49
4      KY  ...              2.04
..    ...  ...               ...
366    CA  ...              0.40
367    CA  ...              0.38
368    CA  ...              0.35
369    CA  ...              0.30
370    UT  ...              0.16

[371 rows x 4 columns]