In [1]:
!pip3 install palmerpenguins

'pip3' is not recognized as an internal or external command,
operable program or batch file.

## Review
Let's do some review with `pandas` and `dataframes` to ease everyone back in from spring break! We'll be looking at our friends the Palmer penguins.

In [2]:
from palmerpenguins import load_penguins
import pandas as pd

penguins = load_penguins()
penguins.sample(5)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009
21,Adelie,Biscoe,37.7,18.7,180.0,3600.0,male,2007
148,Adelie,Dream,36.0,17.8,195.0,3450.0,female,2009
146,Adelie,Dream,39.2,18.6,190.0,4250.0,male,2009
322,Chinstrap,Dream,50.1,17.9,190.0,3400.0,female,2009

## Filtering and Selecting from a Dataframe

  1. For the following code cells, write code that will correctly filter and select from `penguins`

In [3]:
# All penguins with bills longer than 15mm

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,male,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [4]:
# All female penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
6,Adelie,Torgersen,38.9,17.8,181.0,3625.0,female,2007
12,Adelie,Torgersen,41.1,17.6,182.0,3200.0,female,2007
...,...,...,...,...,...,...,...,...
335,Chinstrap,Dream,45.6,19.4,194.0,3525.0,female,2009
337,Chinstrap,Dream,46.8,16.5,189.0,3650.0,female,2009
338,Chinstrap,Dream,45.7,17.0,195.0,3650.0,female,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [5]:
# All Gentoo penguins on Biscoe

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
152,Gentoo,Biscoe,46.1,13.2,211.0,4500.0,female,2007
153,Gentoo,Biscoe,50.0,16.3,230.0,5700.0,male,2007
154,Gentoo,Biscoe,48.7,14.1,210.0,4450.0,female,2007
155,Gentoo,Biscoe,50.0,15.2,218.0,5700.0,male,2007
156,Gentoo,Biscoe,47.6,14.5,215.0,5400.0,male,2007
...,...,...,...,...,...,...,...,...
271,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN,2009
272,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,female,2009
273,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,male,2009
274,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,female,2009
275,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,male,2009

In [6]:
# All penguins on Torgersen with body mass greater than 4000g

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
7,Adelie,Torgersen,39.2,19.6,195.0,4675.0,male,2007
9,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN,2007
14,Adelie,Torgersen,34.6,21.1,198.0,4400.0,male,2007
17,Adelie,Torgersen,42.5,20.7,197.0,4500.0,male,2007
19,Adelie,Torgersen,46.0,21.5,194.0,4200.0,male,2007
69,Adelie,Torgersen,41.8,19.4,198.0,4450.0,male,2008
73,Adelie,Torgersen,45.8,18.9,197.0,4150.0,male,2008
75,Adelie,Torgersen,42.8,18.5,195.0,4250.0,male,2008
81,Adelie,Torgersen,42.9,17.6,196.0,4700.0,male,2008
83,Adelie,Torgersen,35.1,19.4,193.0,4200.0,male,2008
127,Adelie,Torgersen,41.5,18.3,195.0,4300.0,male,2009

  2. For the following code cells, find the correct values

In [14]:
# Descriptive statistics for the bill depth of Adelie penguins on Torgersen

count    51.000000
mean     18.429412
std       1.339447
min      15.900000
25%      17.350000
50%      18.400000
75%      19.250000
max      21.500000
Name: bill_depth_mm, dtype: float64

In [15]:
# Number of each species of penguin on each island

island     species
Biscoe     Gentoo       124
           Adelie        44
Dream      Chinstrap     68
           Adelie        56
Torgersen  Adelie        52
Name: species, dtype: int64

In [17]:
# Correlation between flipper length and bill length for all penguins

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year
bill_length_mm,1.000000,-0.235053,0.656181,0.595110,0.054545
bill_depth_mm,-0.235053,1.000000,-0.583851,-0.471916,-0.060354
flipper_length_mm,0.656181,-0.583851,1.000000,0.871202,0.169675
body_mass_g,0.595110,-0.471916,0.871202,1.000000,0.042209
year,0.054545,-0.060354,0.169675,0.042209,1.000000

In [29]:
# Correlation between flipper length and bill length per species of penguin

                             flipper_length_mm  bill_length_mm
species
Adelie    flipper_length_mm           1.000000        0.325785
          bill_length_mm              0.325785        1.000000
Chinstrap flipper_length_mm           1.000000        0.471607
          bill_length_mm              0.471607        1.000000
Gentoo    flipper_length_mm           1.000000        0.661162
          bill_length_mm              0.661162        1.000000

# Intro to Probability
As we've discussed previously, one way of dealing with bias in statistics is through **randomness**, especially when thinking about sampling from a sample frame. We can analyze the randomness in our datasets and make inferences about the population based on probabilities.


## Vocabulary and Basics
Probability is based on the *long-run* behaviour of random events. Let's look at an example that everyone is familiar with: rolling a single 6-sided die.

  3. The die is rolled once. What is the set of all possible outcomes of this roll? This set is called the **sample space**.

4. An **event** refers to a particular outcome of a random phenomenon. More specifically, an **event** refers to a *subset* of the sample space. For example, "rolling a 5" or "rolling greater than 3" are considered to be events. Give another example of an event.

  5. Find the following probabilities:  
    a. P(rolling a 3)  

    b. P(not rolling a 3)  

    c. P(rolling a number between 0 and 7)

6. Explain how you calculated the answers to (5) using the terminology of events and sample spaces.

7. If you roll a die 12 times in a row, do you expect to see each number from 1-6 exactly twice? Why or why not?

8. If you roll a die 120 times, roughly how many times do you expect to see 5 rolled?

9. In those 120 rolls, would you be surprised to see 5 rolled 23 times? What if it was rolled 87 times?

## Simulation
It is usually impossible for us to know the exactly probability of an event. We can think about the **theoretical probability**, as we have been doing in the last few questions, but those are only accurate if we live in an ideal world, which we do not. Thus, we usually have to gather information through **experimental probability**. One way of doing so is via simulation. 

For example, we can simulate rolling a perfect fair die 120 times to check our answers for questions (7) - (9).

  10. Write code that will simulate rolling a 6-sided die 120 times. Keep track of the cumulative proportion of 5s. In other words, keep track of the number of 5s divided by how many rolls have been made so far. What do you estimate the final cumulative proportion to be?

  11. Modify your code so that the die is rolled 1200 times, then 12000, then 120000. What happens to the final cumulative proportion as you increase the number of rolls?

## The Law of Large Numbers
When we think about randomness in the context of *experimental probability*, the **probability** of an event is the number that the cumulative proportion approaches in the long run.

## Probability Practice
Answer the following questions. You may add code cells and write code if that will help you answer the question.

  12. Your friend flips a two-sided coin repeatedly to test whether the probability of heads is 1/2. The coin is flipped 10 times, and it lands on heads 2 times. Your friend comes to the conclusion that this coin isn't fair, since the probability of heads is 2/10 = 0.2
  
    a. What's wrong with your friend's claim?  

    b. If the coin actually is fair, how would you prove it to your friend?

  13. A researcher is conducting a study on the proportion of adults in the US who are in favor of mandatory covid vaccinations. The researcher comments that because of the law of large numbers, the sampling method doesn't matter as long as the sample size is large enough. Explain why this claim is incorrect.

14. A market analyst is trying to model what will happen to a particular company's stock price. Let's say that we know for certain that each new day, the company's stock price has a 1/2 chance of going up, and a 1/2 chance of going down. Write code that models what happens to this company's stock price over the period of 75 days. What patterns do you notice? Would these patterns be the same if you ran the model again and again?

15. Your friend wants to make a bet with you: a fair coin will be flipped. If it lands on heads, you get a cup of coffee, but if it lands on tails, you lose a cup of coffee. The coin is flipped 2000 times. How many cups of coffee do you expect to have at the end?